<div class="row">
	<h2>{{ titulo}}</h2>
</div>
<div class="row">

    <p>Estimado/a Usuario: {{ datos.nombre }} <br/>Ha firmado el consentiento informado y la protección de datos</p>
    <p>Agradecemos su interés por nuestro centro.</p>
    <p>El número es: {{token}}</p>

</div>
