<div class="row">

    <div class="col-md-6">
        <h1>{{ titulo }}</h1>
        <p>veo por donde van los tiros</p>
        <p>{{ descripcion }}</p>
        <h1>Members</h1>

      <ul>
        {% for items in registros %}
            {{ items }}

        {% endfor %}

      </ul>

    </div>




</div>
