<div class="row">

    <div class="col-md-6">
        <h1>{{ titulo }}</h1>
        {% set cpaso = formulario.controlPaso  %}

        {% if cpaso == 2  %}
          <h2>PASO 2</h2>
          <p>Introduzca el mensaje que nos quiera enviar</p>
        {% else %}
          <p>Si ústed lo desea se puede poner en contacto con nosotros a través del <br/>
          <strong>formulario de contacto</strong>. En breve le contestaremos a las dudas que tenga.
          </p>
          <p>Este formulario se compone de 2 pasos</p>
          <p>PRIMER PASO para rellenar los datos y el SEGUNDO PASO para rellenar el mensaje</p>
          <h2>PASO 1</h2>
          <p>Rellene los datos</p>
        {% endif %}

    </div>

    <div class="col-md-6">
        {# kint( formulario ) #}
        {{  formulario  }}

    </div>

</div>
